* {
  margin: 0;
  padding: 0;

}
html,
body {
  height: 100%;

}
.wrapper {
  display: table;
  height: 100%;
      width: 100%;
}
.content {
  display: table-row;
  height: 100%;
}
.scrollblock {
 overflow-y: auto;
 max-height: 600px;
 margin: 30px auto;
 background:
  linear-gradient(white 30%, rgba(255,255,255,0)),
  linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
  radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
 background-repeat: no-repeat;
 background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
 background-attachment: local, local, scroll, scroll;
}